<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="web_header">
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title th:text="${@environment.getProperty('title.website')}"></title>
    <link rel = "icon" href ="https://www.clipartmax.com/png/middle/45-455789_globe-free-icon-world-icon-png.png"
          type = "image/x-icon">
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet" />
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet" />
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet" />
    <link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet" />
    <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
<!--    <link th:href="@{/toastr/toastr.scss}" rel="stylesheet" />-->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css}" rel="stylesheet" />
    <!-- End #main -->

    <!---@{/vendor/aos/aos.js} -->
    <!-- Vendor JS Files -->
    <script th:src="@{/vendor/aos/aos.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
    <script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
    <script th:src="@{/vendor/php-email-form/validate.js}"></script>
    <script th:src="@{/vendor/purecounter/purecounter.js}"></script>
    <script th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
    <script th:src="@{/vendor/typed.js/typed.min.js}"></script>
    <script th:src="@{/vendor/waypoints/noframework.waypoints.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Template Main JS File -->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/tranquyet/js/test.js}"></script>
<!--    <script th:src="@{/toastr/toastr.js}"></script>-->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js}"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(()=>{
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        });

    </script>
</head>

<body>

<div th:fragment="web_header_page">
    <header id="header">
        <div class="d-flex flex-column">
            <div class="profile">
                <img src="https://images.squarespace-cdn.com/content/v1/5c5b582151f4d44f83bfedda/1579715977049-AP9KRKUIZJKMNRN1L8KE/ME+Logo_4945.jpg}?format=1500w"
                     alt="" class="img-fluid rounded-circle" />
                <h1 class="text-light"><a href="#">Welcome!</a></h1>
                <div class="social-links mt-3 text-center">
                    <a href="#" class="google-plus"><i class="bi bi-google" data-toggle="tooltip" data-placement="top"
                                                       title="Login By Google"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-door-closed" data-toggle="tooltip" data-placement="top"
                                                    title="Logout"></i></a>
                    <a href="#"><i class="bi bi-door-open-fill red-tooltip" data-toggle="tooltip" data-placement="top"
                                   title="Login"></i></a>
                </div>
            </div>
            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <hr />
                    <li>
                        <a href="#portfolio" class="nav-link"><i class="bx bx-book-content color-icon"></i>
                            <span>Information</span></a>
                    </li>
                    <hr />
                </ul>
                <div class="card" style="width: 18rem; height: 430px">
                    <div class="card-header text-center" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
                        Comments <i class="bi bi-chat-dots"> </i>
                    </div>
                    <div class="card-body">
                        <div class="parent">
                            <div class="card-body"
                                 style="overflow:scroll; height: 370px; overflow-x: hidden; padding-left: 2px;padding-top: 5px;padding-bottom: 5px; padding-right: 2px">
                                <div class="alert alert-primary" style="padding: 0.10rem 0.5rem; margin-bottom: 5px" role="alert">
                                    <span class="badge badge-primary text-black"><p class="font-italic">New User: 2021/11/12 20:18:11</p></span>
                                    <hr>
                                    <p>This is a primary alert—check it out!</p>
                                </div>


                            </div>
                            <div class="input-group mb-3 absolute">
                                <hr />
                                <input style="height: 30px" type="text" class="form-control" placeholder="comment ..."
                                       aria-describedby="button-addon2" />
                                <button style="height: 30px; width: 40px" class="btn btn-success" type="button"
                                        id="button-comment">
                                    <i class="bi bi-arrow-right-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <hr>
                <div>

                </div>
            </nav>
            <!-- .nav-menu -->
        </div>
    </header>
</div>

</body>

</html>